* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: url(../img/back.png) no-repeat;
}

li {
  list-style-type: none;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  margin-right: 70px;
}

.heading__text {
  margin-left: 70px;
}

.heading__img {
  min-width: 50%;
  margin-top: -110px;
}

.main-block__img {
  margin-left: 200px;
  margin-top: -50px;
}

.main-block__grid {
  display: flex;
  margin-left: 70px;
  font-size: 22px;
}

.main-block__list {
  margin-bottom: 60px;
  color: #dd7628;
}

@media screen and (max-width: 1010px) {
  .heading__img {
    max-width: 100%;
  }
}
